@import './smaterial';

.captcha {
	display: none;
	visibility: hidden;
}

.success, .edit:hover {
	color: $teal;

	li {
		color: $teal;
	}
}

.alert {
	color: $deep-orange;
}

.info {
	color: $blue;
}

.error, .delete:hover {
	color: $red;

	li {
		color: $red;
	}
}