@import './smaterial';

.captcha {
	display: none;
	visibility: hidden;
}

.success, .alert, .info, .error {
	color: $white;
	@include border-radius(rem-calc(2px));
}

.success {
	background: $teal;
}

.alert {
	background: $deep-orange;
}

.info {
	background: $blue;
}

.error {
	background: $red;
}

.edit.sc-flat-button .material-icons, .delete.sc-flat-button .material-icons {
	color: if( $theme == light, rgba($black, .26), rgba($white, .3));

	&:hover {
		color: if( $theme == light, rgba($black, .54), rgba($white, 1));
	}
}

.edit.sc-flat-button:active {
	background: $teal;
}

.delete.sc-flat-button:active {
	background: $red;
}

