/**************************************
 * All stylesheets
 *
 * Some may be turned off by commenting them
 * NOTE that some classes are extended and could there for cause problems when turned off
 **************************************/

// Style
@import 'components/mixins'; // All mixins
@import 'components/functions'; // All functions
@import 'components/colors'; // Color swatches currently moved into settings
@import 'components/settings'; // All settings
@import 'components/grid'; // Grid functionality
@import 'components/normalize'; // Remove browser default styles add Material default styles
@import 'components/shadows'; // Shadow depths
@import 'components/typography'; // Typography
@import 'components/icons'; // Icons with their shadow (can be turned off)

// Components
@import 'components/appbar'; // Top menu bar (can be turned off)

/*
$bottom-nav: ('bottom-nav', 'bottom-shifting');
@import 'components/bottom-navigation'; // Used to style the bottom navigation

$bottom-sheet: ('header', 'grid', 'music');
@import 'components/bottom-sheet'; // Used to style bottom sheet / modal (can be turned off)
*/
$button: ('raised', 'flat', /*'floating', 'toggle', 'ripple'*/); // It's better to turn off "ripple" since it isn't working properly
@import 'components/buttons'; // Used to style buttons (can be turned off)

@import 'components/cards'; // Used to style cards (can be turned off)
@import 'components/chips'; // Used to style chips (can be turned off)
@import 'components/data-tables'; // Used to style tables (can be turned off)

$dialog: (/*'full-screen'*/);
@import 'components/dialogs'; // Used to style dialog (can be turned off)

/*
@import 'components/expansion-panels'; // Used to style expansion panels (can be turned off)
@import 'components/grid-lists'; // Used to style grid lists (can be turned off)
*/
$navigation-drawer: (/*'full-height', 'clipped', 'floating',*/ 'persistent', /*'temporary'*/);
@import 'components/navigation-drawer'; // Used to style navigation drawer (can be turned off)
@import 'components/lists'; // Used to style lists (can be turned off)
@import 'components/notifications'; // Notifications style (can be turned off)
//@import 'components/pickers'; // Used to style date and time picker (can be turned off)

$progress: ('determinate', 'indeterminate', /*'buffer', 'circular'*/); // It's better to turn off "buffer" since it isn't working properly
@import 'components/progress'; // Used to style progress and activity indicators (can be turned off)

$selection: ('checkbox', 'radio', 'switch');
@import 'components/selection'; // Used to style selection controls (checkbox, radio button, switch) (can be turned off)

$slider: ('discrete');
@import 'components/sliders'; // Used to style sliders (can be turned off)

/*
@import 'components/snackbars'; // Used to style snackbars and toasts (can be turned off)

$stepper: ('horizontal', 'vertical');
@import 'components/steppers'; // Used to style steppers (can be turned off)
*/

$tab: ('tab', 'tab-icon', 'tab-icon-text');
@import 'components/tabs'; // Used to style tabs (can be turned off)

$textfield: ('floating', /*'floating-dense',*/ 'file', 'single', /*'single-dense'*/);
@import 'components/textfields'; // Used to style input (can be turned off)

@import 'components/tooltips'; // Used to style tooltips (can be turned off)
@import 'components/colors-create'; // Used to create colors(can be turned off)